.isMobile {
  display: none;

  .openPlayer {
    display: none;

    position: fixed;
    top: 50%;
    right: 0;

    transform: translate(-50%, -50%);
    z-index: 100;

    img {
      width: 50px;
    }

    display: block;
  }
  .close {
    position: fixed;
    top: 1.3rem;
    left: 1.5rem;

    font-size: 2rem;
    z-index: 202;
  }
}

@media (max-width: 1000px) {
  .isMobile {
    display: block;
  }
}
