.isMobile {
  display: none;

  .openPlayer {
    display: none;

    position: fixed;
    top: 50%;
    right: 0;

    transform: translate(-50%, -50%);
    z-index: 100;

    img {
      width: 50px;
    }

    display: block;
  }

  .player {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: 101;

    .close {
      position: absolute;
      top: 1.3rem;
      left: 1.5rem;

      font-size: 2rem;
      z-index: 102;
    }
  }
}

@media (max-width: 720px) {
  .isMobile {
    display: block;
  }
}
