.headerContainer {
  background-color: var(--white);
  height: 6.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 4rem;
  border-bottom: 1px solid var(--gray-100);

  p {
    margin-left: 2rem;
    padding: 0.25rem 0 0.25rem 2rem;
    border-left: 1px solid var(--gray-100);
  }

  span {
    text-transform: capitalize;
  }

  p,
  span {
    color: var(--gray-800);
  }
}

.sun {
  color: var(--gray-800);
}

.moon {
  color: var(--gray-800);
}

@media (max-width: 720px) {
  .headerContainer {
    padding: 2rem 2rem;
    height: 5rem;

    img {
      width: 100px;
    }

    p {
      font-size: 0.9rem;
      padding: 0.25rem 0 0.25rem 1rem;
    }

    span {
      font-size: 0.9rem;
    }
  }
}
