.playerContainer {
  padding: 3rem 4rem;
  width: 26.5rem;
  height: 100vh;

  background-color: var(--purple-500);
  color: var(--white);

  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;

  header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  strong {
    font-family: Lexend, sans-serif;
    font-weight: 600;
  }

  .currentEpisode {
    text-align: center;

    img {
      border-radius: 1.5rem;
    }

    strong {
      display: block;
      margin-top: 2rem;
      font: 600 1.25rem lexend, sans-serif;
      line-height: 1.75rem;
    }

    span {
      display: block;
      margin-top: 1rem;
      opacity: 0.6;
      line-height: 1.5rem;
    }
  }

  .emptyPlayer {
    width: 100%;
    height: 20rem;
    border: 1.5px dashed var(--purple-300);
    border-radius: 1.5rem;
    background-color: var(--purple-800);
    background: linear-gradient(
      143.8deg,
      rgba(145, 100, 250, 0.8) 0%,
      rgba(145, 100, 250, 0) 100%
    );

    padding: 4rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  footer {
    align-self: stretch;

    &.empty .progress {
      opacity: 0.5;
    }
  }
}

.progress {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 0.875rem;

  span {
    display: inline-block;
    width: 4rem;
    text-align: center;
  }

  .slider {
    flex: 1;

    .emptySlider {
      width: 100%;
      height: 4px;
      background-color: var(--purple-300);
      border-radius: 5px;
    }
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2.5rem;
  gap: 1.5rem;

  button {
    background-color: transparent;
    border: 0;
    font-size: 0;
    transition: filter 0.2s;

    &:disabled {
      cursor: default;
      opacity: 0.5;
    }

    &:hover:not(:disabled) {
      filter: brightness(0.7);
    }

    &.isActive {
      filter: invert(0.35) sepia(1) saturate(3) hue-rotate(100deg);
    }

    &.isActive:hover {
      filter: brightness(0.6) invert(0.35) sepia(1) saturate(3)
        hue-rotate(180deg);
    }

    &.playButton {
      width: 4rem;
      height: 4rem;
      border-radius: 1rem;
      background-color: var(--purple-400);

      &:hover:not(:disabled) {
        filter: brightness(0.95);
      }
    }
  }
}

@media (max-width: 1000px) {
  .playerContainer {
    display: none;
  }
}

.isMobile {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  height: 100vh;
  width: 100vw;

  z-index: 201;

  padding: 3rem 4rem;
  background-color: var(--purple-500);
  color: var(--white);

  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;

  .currentEpisode {
    img {
      max-height: 300px;
    }
  }
}
